<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ar.com.lichtmaier.antenas"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <uses-feature
        android:name="android.software.leanback"
        android:required="true"/>

    <uses-sdk tools:overrideLibrary="com.google.maps.android"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".Aplicacion"
        android:theme="@style/TemaApp.Antenas"
        android:supportsRtl="true"
        android:banner="@drawable/banner"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".AntenaActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDvGHL3aTGp0wFMYNpXB9IMORZH1HigOI4"/>

        <activity
            android:name=".MapaActivity"
            android:label="@string/title_activity_mapa"
            android:parentActivityName=".AntenaActivity"
            android:theme="@style/TemaApp.Mapa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.lichtmaier.antenas.AntenaActivity"/>
        </activity>
        <activity
            android:name=".PreferenciasActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".AntenaActivity"
            android:theme="@style/TemaPreferencias">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.lichtmaier.antenas.AntenaActivity"/>
        </activity>
        <activity
            android:name=".UnaAntenaActivity"
            android:label="@string/app_name"
	    android:theme="@style/TemaApp.Antenas.Transparente"
            android:parentActivityName=".AntenaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ar.com.lichtmaier.antenas.AntenaActivity"/>
        </activity>

        <activity
            android:name="ar.com.lichtmaier.antenas.TVActivity"
            android:theme="@style/TemaTV">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent"/>

    </application>

</manifest>