<?xml version="1.0" encoding="utf-8"?><!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ar.com.lichtmaier.antenas">

	<application>
		<meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
	</application>

</manifest>
